<template>
    <header class="header">
        <div class="header-container container">
            <nav class="header-nav navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <ul class="header-nav-list navbar-nav">
                    <li class="header-nav-item nav-item"><a href="#" class="header-nev-link nav-link">Home</a></li>
                    <li class="header-nav-item nav-item"><a href="#" class="header-nev-link nav-link">About Us</a></li>
                    <li class="header-nav-item nav-item"><a href="#" class="header-nev-link nav-link">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
</template>

<style lang="scss">
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #f8f9fa;
        z-index: 101;
        box-shadow: 0 3px 6px rgba(2,30,77,.1);
    }
    .header-nav-list{
        flex-direction: row;
    }
    .header-nav{
        padding: 10px 0;
    }
    .header-nav-item{
        margin: 0 10px;
    }
    .navbar-brand{
        @media (max-width: 400px) {
            display: none;
        }
    }
</style>