<template>
    <div class="container">
        <div class="slider">
            <slick ref="slick" :options="slickOptions" class="slider-slick">
                <div v-for="slide in slides">
                    <a :href="slide.img"><img :src="slide.img" alt=""></a>
                </div>
            </slick>
        </div>
    </div>
</template>


<script>
    import Slick from 'vue-slick'
    export default {
        components: { Slick },
        data () {
            return {
                slickOptions: {
                    arrows: true,
                    dots: false,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                },
                slides: [
                    {img: 'static/images/img1.png'},
                    {img: 'static/images/img2.png'},
                    {img: 'static/images/img3.png'},
                    {img: 'static/images/img1.png'},
                    {img: 'static/images/img2.png'},
                    {img: 'static/images/img3.png'},
                ]
            }
        }
    }
</script>

<style lang="scss">
    @import "../../node_modules/slick-carousel/slick/slick";
    @import "../../node_modules/slick-carousel/slick/slick-theme.css";

    .slider{
        margin-top: 20px;
        img{
            max-width: 100%;
        }
        @media (max-width: 768px) {
            padding: 0 20px;
        }
    }
    .slick-arrow{
        &:before{
            color: #000000;
        }
    }
</style>
