<template>
    <div class="app">
        <app-header></app-header>
        <app-slider></app-slider>

        <div style="height: 2000px"></div>
    </div>
</template>
<script>
    import AppHeader from './components/Header'
    import AppSlider from './components/Slider'
    export default {
        components: {
            AppHeader,
            AppSlider
        },
        name: 'app',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<style lang="scss">
    @import "../node_modules/bootstrap/scss/bootstrap";

    body{
        padding-top: 60px;
    }
</style>
